<hr class="featurette-divider">
<!-- FOOTER -->
<div id="footer">
    <div class="container">
        <p class="text-muted text-center credit">
            &middot;
            <a href="https://www.facebook.com/Toronto-Myanmar-Christian-Fellowship-123818291003915/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
            &middot;
            <a href="https://www.youtube.com/channel/UCEpS1aee_rkysom6EILevvQ" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>
            &middot;
            <a href="http://news.torontomyanmarchristian.org"  target="_blank" title="News"><i class="fas fa-blog"></i></a>
            &middot;
        </p>
    </div>
</div>
